@charset "utf-8";

.ank-pixiv-downloading.ank-pixiv-mark-background {
    background: lime !important;
    box-shadow: 0 -4px 0 0 green inset !important;
}

.ank-pixiv-downloaded.ank-pixiv-mark-background {
    background: pink !important;
    box-shadow: 0 -4px 0 0 red inset !important;
}

.ank-pixiv-downloading.ank-pixiv-mark-border {
    box-sizing: border-box;
    border: solid 6px limegreen;
    border-bottom: solid 6px green;
}

.ank-pixiv-downloaded.ank-pixiv-mark-border {
    box-sizing: border-box;
    border: solid 6px pink;
    border-bottom: solid 6px deeppink;
}

.ank-pixiv-updated.ank-pixiv-mark-background {
    background: paleturquoise !important;
    box-shadow: 0 -4px 0 0 blue inset !important;
}

.ank-pixiv-downloaded.ank-pixiv-mark-overlay {
    background-image: url("chrome-extension://__MSG_@@extension_id__/images/downloaded.png");
    background-color: transparent !important;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: 2px 2px 2px #000 !important;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
}

.ank-pixiv-downloading.ank-pixiv-mark-overlay {
    background-image: url("chrome-extension://__MSG_@@extension_id__/images/downloading.png");
    background-color: transparent !important;
    border-radius: 4px 4px 4px 4px !important;
    box-shadow: 2px 2px 2px #000 !important;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
}

.ank-pixiv-updated.ank-pixiv-mark-overlay {

}

#ank-pixiv-message-box {
    position: fixed;
    top: 6em;
    right: 2em;
    padding: .5em 1em;
    min-width: 6em;
    color: red;
    font-weight: bold;
    font-size: small;
    text-align: center;
    border: outset .5em;
    border-radius: 1em;
    background: lightgray;
    opacity: .6;
    z-index: 99999999;
    display: none;
}

#ank-pixiv-message-box.show {
    display: block;
}

#ank-pixiv-message-box.slidein {
    animation-timing-function: ease;
    animation-duration: 10s;
    animation-name: slidein;
    animation-iteration-count: infinite !important;
    animation-direction: alternate;
}

#ank-pixiv-message-box.shake {
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-name: shake;
    animation-iteration-count: infinite !important;
    animation-direction: normal;
}

#ank-pixiv-message-box.done:after {
    content: attr(data-text-downloaded);
}

#ank-pixiv-message-box.R18:after {
    content: attr(data-text-downloaded_used);
}

#ank-pixiv-message-box.updated:after {
    content: attr(data-text-downloaded_updated);
}

#ank-pixiv-message-box.wait:after {
    content: attr(data-text-download_wait);
    color: green;
}

#ank-pixiv-message-box.run:after {
    content: attr(data-text-download_run);
    color: lime;
}

#ank-pixiv-message-box.failed:after {
    content: attr(data-text-download_failed);
}

#ank-pixiv-message-box.timeout:after {
    content: attr(data-text-download_timeout);
}

#ank-pixiv-message-box.inprogress:after {
    content: attr(data-text-download_inprogress);
    color: green;
}


@keyframes slidein {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes shake {
    0%, 10.0%, 14.5%, 100% {
        transform: translateX(0);
    }
    10.5%, 11.5%, 12.5%, 13.5% {
        transform: translateX(-10px);
    }
    11.0%, 12.0%, 13.0%, 14.0% {
        transform: translateX(10px);
    }
}

.ank-pixiv-viewer-enabled, .ank-pixiv-viewer-enabled > body {
    overflow: hidden;
}

.ank-pixiv-viewer-enabled > body {
    position: fixed !important;
    width: 100%;
}

#ank-pixiv-viewer-panel {
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: gray;
}

#ank-pixiv-viewer-image-panel {
    margin: 0;
    overflow: auto;
    width: 100vw;
    height: 100vh;
}

#ank-pixiv-viewer-image-container {
    margin: 0;
}

#ank-pixiv-viewer-image-panel .ank-pixiv-viewer-show_image {
    margin: 0;
    background-color: white;
}

#ank-pixiv-viewer-image-panel.loading {
    opacity: 0.4;
}

#ank-pixiv-viewer-image-panel.hide {
    opacity: 0;
}

#ank-pixiv-viewer-image-fp.none {
    display: none;
}


#ank-pixiv-viewer-button-panel {
    position: fixed !important;
    width: 100%;
    bottom: 1.5em;
    text-align: center;
    opacity: 0;
}

#ank-pixiv-viewer-button-panel > * {
    margin-left: .2em;
    margin-right: .2em;
    font-size: 1.5em;
}

#ank-pixiv-viewer-button-panel .ank-pixiv-viewer-submit_button {
    text-align: center;
    width: 8em;
}

#ank-pixiv-viewer-button-panel .ank-pixiv-viewer-item_selector {
    width: auto;
}

#ank-pixiv-viewer-button-panel.single-image > .for-multi {
    display: none;
}

#ank-pixiv-viewer-prev-button:after {
    content: "<<";
}

#ank-pixiv-viewer-next-button:after {
    content: ">>";
}

#ank-pixiv-viewer-close-button:after {
    content: "\0000D7";
}

#ank-pixiv-viewer-panel #ank-pixiv-viewer-resize-button:after {
    content: "No FIT";
}

#ank-pixiv-viewer-panel.fit_in_height #ank-pixiv-viewer-resize-button:after {
    content: "FIT in Height";
}

#ank-pixiv-viewer-panel.fit_in_width #ank-pixiv-viewer-resize-button:after {
    content: "FIT in Width";
}

#ank-pixiv-viewer-panel.fit_in_window #ank-pixiv-viewer-resize-button:after {
    content: "FIT in WIndow";
}
