
#ugo_progress {
    width: 100vw;
    z-index: 99;
    position: fixed;
    top: 1em;
    left: 0;
    box-sizing: border-box;
    padding: .2em;
    opacity: 0.5;
}

#ugo_progress.disabled {
    display: none;
}

#ugo_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
}

#ugo_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#ugo_container > img {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#ugo_container > img.en {
    display: block;
}

#ugo_container.nofit > img {
    max-width: 100vw;
    max-height: 100vh;
}

#ugo_container.fitw > img {
    width: 100vw;
}

#ugo_container.fith > img {
    height: 100vh;
}
